{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- MaerializeCSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {% block title %}
  {% endblock %}
  
  {% block style %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>

<!--overflow-y: hidden-->
<body style="overflow-x: hidden;"></body>
<body>
  <div class="App">
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <footer>
        <div class="footer-copyright black-text grey lighten-4">
            <div class="container">
              <div class="copyright center" style="margin-bottom: 5px;">
                <span class="grey-text text-darken-2" style="margin-left: 100pt">
                  © 2022 R-biz Challenge Team SNUBI
                </span>
              </div>
            </div>
          </div>
    {% block footer %}
    {% endblock %}
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block script %}
    {% endblock %}
</body>
</html>