{% extends 'main/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'main/css/card.css' %}">
<link rel="stylesheet" href="{% static 'main/css/parallax.css' %}">
{% endblock %}

{% block title %}
<title>SNUBI MART</title>
{% endblock %}

{% block main %}
<header>
  <nav class="blue darken-3 z-depth-1"> <!-- 색상 변경 -->
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">SNUBI MART</a>
    </div>
  </nav>
</header>

<!-- 2번 화면(detectron) -->
{% if page == 1 %}
<div class="center">
  <img src="{% static 'main/img/0page.gif' %}"  width="1000px" height="550px"> <br>
  <!-- 2번 화면으로 이동하는 버튼 -->
  <form method="POST">
    {% csrf_token %}
    <button id="move_page" name="move_page" value="2" style="margin-top: 15pt; background-color: rgb(21, 101, 192)" type="submit" class="btn waves-effect waves-effect">Detectron Page</button>
  </form>
</div>
{% elif page == 2 %}
<div class="row" style="margin-left:50px; margin-right:50px; margin-top:10px;">
<div style="width:49%; float:left;">
  <table class="col-md-15" id="star_table" style = "width:100%;">
    <tr class="text-center"><p><h5><b>구매하실 물건</b></h5></p></tr><br>
    <tr class="text-center">
      <th>No</th>
      <th>이름</th>
      <th>개수</th>
      <th>가격</th>
    </tr>
      {% for product in products %}
      <tr class="text-center">
        <td>{{forloop.counter}}</td>
        <td>{{product.0}}</td>
        <td>{{product.1}}</td>
        <td>{{product.2}}</td>
      </tr>
      {% endfor %}
  </table>
</div>

<div style="width:49%; float:right;">
    <table class="col-md-15" id="star_table" style = "width:100%;">
        <tr class="text-center"><p><h5><b>계산대의 물건을 확인하세요! {{name}}</b></h5></p></tr><br>
        <tr>
            <td>
                <img
                    src="http://127.0.0.1:8000/camera" style="width: 620px; height: 480px"/>
            </td>
        </tr>
    </table>
</div>
</div>

<div class="container-fuild" id="app" style="padding: 0 50px;">
  <br>
  <div class="position-relative">
      <div class="row d-flex align-items-center" >
          <h4 class="m-0">total: {{total}}</h4>
      </div>
  </div>
</div>
<!-- 3번 화면으로 이동하는 버튼 -->
<div class="center" style="margin:5%;">
  <form method="POST">
    {% csrf_token %}
    <button id="move_page" name="move_page" value="3" style="margin-top: 15pt; background-color: rgb(21, 101, 192)" type="submit" class="btn waves-effect waves-effect">장바구니 결제</button>
  </form>
</div>

<!-- 3번 화면 -->
{% elif page == 3 %}
<div class="row" style="margin-left:50px; margin-right:50px; margin-top:10px; overflow:hidden;">
  <div class="center" style="width:59%; float:left;">
    <img src="{% static 'main/img/2page.gif' %}" width="800px" height="480px"> <br>
  </div>
  
  <div style="width:39%; float:right;">
    <p><h5><b>장바구니 총액 안내: {{total}}</b></h5></p>
  </div>
</div>
<div class="center" style="margin-left:50px; margin-right:50px; margin-top:15px; overflow:hidden;">
    <!-- 4번 화면으로 이동하는 버튼 -->
  <form method="POST">
    {% csrf_token %}
    <button id="move_page" name="move_page" value="4" style="margin-top: 15pt; background-color: rgb(21, 101, 192)" type="submit" class="btn waves-effect waves-effect">GOOD BYE~</button>
  </form>
</div>

<!-- 4번 화면 -->
{% elif page == 4 %}
<div class="center">
  <img src="{% static 'main/img/3page.gif' %}"  width="1000px" height="550px"> <br>
  <!-- 0번 화면으로 이동하는 버튼 -->
  <form method="POST">
    {% csrf_token %}
    <button id="move_page" name="move_page" value="0" style="margin-top: 15pt; background-color: rgb(21, 101, 192)" type="submit" class="btn waves-effect waves-effect">처음화면</button>
  </form>
</div>

<!-- 0번 화면 -->
{% else %}
<div class="center">
  <img src="http://127.0.0.1:8000/face" style="width: 620px; height: 480px"/>
  <!-- 1번 화면으로 이동하는 버튼 -->
  <form method="POST">
    {% csrf_token %}
    <button id="move_page" name="move_page" value="1" style="margin-top: 15pt; background-color: rgb(21, 101, 192)" type="submit" class="btn waves-effect waves-effect">Welcome Page</button>
  </form>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('.parallax').parallax();
    });
</script>
<script>
    $('#move_page').val();
    $(document).fromId.submit();
</script>
<script>
  function reloading(){
    location.reload();
  }
</script>
{% endblock %}


